*{
  margin:0;
  padding:0;
  color:#252525;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background:white;

}

h1,
h2{
  color:#111;
  margin-bottom:12px;
}

h1{
  font-size:119px;
  font-weight:700;
  line-height:80px;
  text-align:center;
}

h1 span{
  font-size:97px;
}

h2{
  font-size:41px;
  line-height:70px;
}

article{
  background:#fff;
  max-width:600px;
  padding:24px;
  margin: 40px auto;
}

p{
  font-size:20px;
  margin-bottom:16px;
  text-align:center;
}

p.justify{
  text-align:justify;
}

ul{
  margin-bottom:16px;
  font-weight:700;
  text-align:center;
  padding-left: 18px;
  padding-right: 18px;
}

li{
  font-size:24px;
  margin-bottom:8px;
  display:inline-block;
}

li span{
  color:rgb(255, 0, 133);
}

footer{
  position:fixed;
  bottom:0;
  right:0;
  color:#999;
}

footer a{
  color:#666;
  text-decoration: none;
}

footer a:hover{
  color:#333;
}

@media all and (max-width: 520px){
  article{
    margin:0 auto;
    border-radius:0;
  }
}

